.pool {
  position: relative;
  font-size: 400%;
  padding: 100px;
  height: 202px;
  width: 622px;
}
.team {
  position: absolute;
  top: 100px;
  left: 100px;
}
.swimmer {
  width: 75px;
  height: 75px;
  padding: 28px;
  padding-top: 0;
  text-align: center;
  display: inline-block;
}
.turn-left {
  transform: rotate(0deg);
}
.turn-up {
  transform: rotate(90deg);
}
.turn-right {
  transform: rotate(180deg);
}
.turn-down {
  transform: rotate(270deg);
}
